@use '../../styles/variables' as *;
.pricingSection {
    padding: 96px;
    .title {
        margin: 40px;
        &>h1 {
            text-align: center;
            color: $font-color;
            font-size: $text-4xl;
            font-weight: 800;
        }
        &>p {
            text-align: center;
            color: $font-color-light;
            font-size: $text-xl;
            margin: 0 256px;
        }
    }
    .card {
        border-radius: 2px;
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        &Title {
            text-align: center;
            &>h1 {
                color: $font-color;
                font-size: $text-2xl;
                font-weight: 600;
            }
            &>h3 {
                color: $font-color-light;
                font-size: $text-lg;
            }
        }
        &Price {
            color: $font-color-light;
            font-size: $text-lg;
            text-align: center;
            &>span {
                color: $font-color;
                font-size: $text-5xl;
                font-weight: 800;
            }
        }
        .permissions {
            display: flex;
            flex-direction: column;
            gap: 16px;
            &>li {
                &>img {
                    display: inline-block;
                    margin-right: 10px;
                }
                color: $font-color;
                &>span {
                    font-weight: 600;
                }
            }
        }
        .btnWrapper {
            text-align: center;
            padding: 10px 20px;
            background-color: $primary-color;
            border-radius: 8px;
            border: 2px solid $primary-color;
            color: $secondary-color;
            &:hover {
                background-color: transparent;
                color: $primary-color;
            }
        }
    }
}