@use "../../styles/variables" as *;
.navBar {
    display: flex;
    gap: 32px;
}

.btnWrapper {
    &>a {
        font-size: $text-base;
        padding: 8px 12px;
        margin-right: 4px;
        &:last-child {
            font-size: $text-sm;
            color: $secondary-color;
            background-color: $primary-color;
            border-radius: 8px;
        }
    }
}