@use "../../styles/variables" as *;
.navBar {
    display: flex;
    gap: 32px;
    &>a {
        font-weight: 500;
    }
}

.btnWrapper {
    &>a {
        font-size: $text-base;
        padding: 8px 12px;
        &:last-child {
            color: $secondary-color;
            background-color: $primary-color;
            border-radius: 8px;
        }
    }
}